{% if messages %}
    {% for message in messages %}
    <div class="container mt-3" id="message-container">
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show shadow-sm rounded-3 text-center" role="alert">
            
            <i class="bi {% if message.tags == 'success' %}bi-check-circle-fill{% else %}bi-exclamation-triangle-fill{% endif %} me-2"></i>
            
            <strong>{{ message.tags|title }}:</strong> {{ message }}
            
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-window-close"></i></button>
        </div>
    </div>
    {% endfor %}
{% endif %}

<script>
    // Optional: Auto-hide the alert after 5 seconds
    setTimeout(function() {
        const alert = document.querySelector('.alert');
        if (alert) {
            const bsAlert = new bootstrap.Alert(alert);
            bsAlert.close();
        }
        $("#message").fadeOut("slow");
        $('div.alert').each(function(index,ele){
            $(ele).fadeOut("slow")
        });
    }, 5000);
</script>