{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Password changed" %}{% endblock %}

{% block content %}
  
  <div class="container" style="height:100%;">
    <h1>{% translate "Password changed</h1>
    <div class="row" style="height:600px;">
        <div class="col-md-6">
            <p>{% translate "Your password has been successfully changed. You can" %} <a href="{% url "accounts:login" %}">{% translate "log in now" %}</a></p>
        </div>
    </div>
  </div>
{% endblock %}
