{% extends "base.html" %}

{% block title %}重設密碼{% endblock %}

{% block content %}
  <div class="container mb-20 p-2">
    <h1>重設密碼</h1>
    <p>請使用下面的表格更改您的密碼。</p>
    <!-- <form method="post">
      {{ form.as_p }}
      <p><input type="submit" value="Change"></p>
      {% csrf_token %}
    </form> -->
   <!-- <div class="row">
      <div class="col-md-6">
          <div clas="mt-2">
              <form method="post" action="{% url 'accounts:password_change_done' %}" class="p-20 ">
                  {% csrf_token %}
                  <div class="row form-row">
                      <div class="col-md-12 mb-3">                 
                          <div class="input-group-icon">
                              <i class="fas fa-key"></i> <label for="id_old_password" class="form-label ml-1">Old password :<span class="required-asterisk">*</span></label>
                              <input type="text" name="old_password" class="form-control prefilled-value" id="id_old_password" value="" required>
                          
                          </div>
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-12 mb-3">                 
                          <div class="input-group-icon">
                            <i class="fas fa-key"></i> <label for="id_new_password1" class="form-label ml-1">New password: <span class="required-asterisk">*</span></label>
                            <input type="text" name="new_password1" class="form-control prefilled-value" id="id_new_password1" value="" required>
                          </div>
                        
                      </div>
                    </div>
                    <div class="row form-row">
                      <div class="col-md-12 mb-3">                 
                          <p>New password confirmation:</p>
                          <p>Enter the same password as before, for verification.</p>
                      </div>
                    </div>           
                    <div class="row form-row">
                      <div class="col-md-12 mb-3">               
                        <div class="input-group-icon">
                            <i class="fas fa-key"></i> <label for="id_new_password2" class="form-label ml-1">New password confirmation:<span class="required-asterisk">*</span></label>
                            <input type="text" name="new_password2" class="form-control" id="id_new_password2" placeholder="Enter your street address" value="{{current_user.address}}" required/>
                        </div>
                      </div>
                    </div>
                  
                    <button type="submit" class="btn btn-place-order bg-info">
                        <i class="fas fa-check-circle me-2"></i>Change
                    </button>   
              </form>
          </div>
        
      </div>
      <div class="col-md-6">
          <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
            <li>Your password can’t be too similar to your other personal information.</li>
          </ul>
      </div>
    </div> -->
    
  </div>
  
 
  
{% endblock %}
