{% extends "base.html" %}
{% load static %}

{% block title %}
  您的購物車
{% endblock %}

{% block content %}
  <h1>您的購物車</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>圖片</th>
        <th>菜餚</th>
        <th>數量</th>
        <th>取消</th>
        <th>取消</th>
        <th>價格</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>總數</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'pages:product_list' %}" class="button
    light">繼續購物</a>
    <a href="{% url 'orders:order_create' %}" class="button">完成選購</a>
  </p>
{% endblock %}
