{% extends 'base.html' %}
{% load static %}

{% block title %}支付訂單{% endblock %}

{% block content %}
<div class="container">


  <h1>訂單匯總</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>圖片</th>
        <th>菜餚</th>
        <th>單價</th>
        <th>數量</th>
        <th>總數</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>
            <img src="{% if item.product.image %}{{ item.product.image.url }}
            {% else %}{% static "img/no_image.png" %}{% endif %}">
          </td>
          <td>{{ item.product.name }}</td>
          <td class="num">${{ item.price }}</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">${{ item.get_cost }}</td>
        </tr>
      {% endfor %}
      {% if order.coupon %}
        <tr class="subtotal">
          <td>小計</td>
          <td colspan="3"></td>
          <td class="num">
            ${{ order.get_total_cost_before_discount|floatformat:2 }}
          </td>
        </tr>
        <tr>
          <td>
            "{{ order.coupon.code }}" 優惠券
            ({{ order.discount }}% off)
          </td>
          <td colspan="3"></td>
          <td class="num neg">
            - ${{ order.get_discount|floatformat:2 }}
          </td>
        </tr>
      {% endif %}
      <tr class="total">
        <td colspan="4">總數</td>
        <td class="num">${{ order.get_total_cost|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
  <form action="{% url "payment:process" %}" method="post">
    <input type="submit" value="結帳">
    {% csrf_token %}
  </form>
</div>
  {% endblock %}
